/* Whole document: */

/* Headers */

@import url('https://fonts.googleapis.com/css?family=Raleway');


h1,h2,h3,h4 {
  font-family: 'Raleway';
  font-size: 20pt;
}

h5{
  font-family: 'Raleway';
  font-size: 30pt;
}

h6{
  font-family: 'Raleway';
  font-size: 48pt;
}



body{
  font-family: 'Lucida Console';
  font-size: 12pt;
  font-weight: lighter;
}

.navbar-default {
    background-color: white;
}

/*
font-family: 'Oswald'
@import url('https://fonts.googleapis.com/css?family=Oswald');

.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.active>a, 
a.dropdown-toggle:hover {
  background-color: #141c25 !important;
}


.navbar-default .dropdown-menu>.active>a
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav:hover, 
.navbar-default .navbar-nav>li>a:hover, 
a.navbar-brand:hover {
  color: #ffffffab !important;
  background-color: #141c25;
}
*/
