/* Whole document: */

/* Headers */

@import url('https://fonts.googleapis.com/css?family=DM+Mono');

/* @import url('https://fonts.googleapis.com/css?family=Inter'); */


<link rel="preload" href="fonts/Inter-Regular.woff2" as="font" type="font/woff2" crossorigin>

:root { font-family: 'Inter', sans-serif; }
  @supports (font-variation-settings: normal) {
    :root { font-family: 'Inter var', sans-serif; }
  }

------------------------- static ------------------------- */

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 100;
  font-display: swap;
  src: url("fonts/Inter-Thin.woff2") format("woff2"),
       url("fonts/Inter-Thin.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url("fonts/Inter-ThinItalic.woff2") format("woff2"),
       url("fonts/Inter-ThinItalic.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/Inter-Regular.woff2") format("woff2"),
       url("fonts/Inter-Regular.woff") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/Inter-Italic.woff2") format("woff2"),
       url("fonts/Inter-Italic.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("fonts/Inter-Medium.woff2") format("woff2"),
       url("fonts/Inter-Medium.woff") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("fonts/Inter-MediumItalic.woff2") format("woff2"),
       url("fonts/Inter-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("fonts/Inter-SemiBold.woff2") format("woff2"),
       url("fonts/Inter-SemiBold.woff") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 600;
  font-display: swap;
  src: url("fonts/Inter-SemiBoldItalic.woff2") format("woff2"),
       url("fonts/Inter-SemiBoldItalic.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("fonts/Inter-Bold.woff2") format("woff2"),
       url("fonts/Inter-Bold.woff") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 700;
  font-display: swap;
  src: url("fonts/Inter-BoldItalic.woff2") format("woff2"),
       url("fonts/Inter-BoldItalic.woff") format("woff");
}

/* ----------------------- variable ----------------------- */
/*
@font-face {
  font-family: 'Inter var';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('fonts/Inter-roman.var.woff2') format('woff2');
  font-named-instance: 'Regular';
}

@font-face {
  font-family: 'Inter var';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('fonts/Inter-italic.var.woff2') format('woff2');
  font-named-instance: 'Italic';
}

@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}
*/

a:link {
  color: Black;
}

/* visited link */
a:visited {
  color: Black;
}

/* mouse over link */
a:hover {
  color: Black;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: Black;
}

.navbar-default {
    background-color: #f9f8f4;
}

h1 {
  font-family: 'Inter';
  font-size: 30pt;
  font-weight: 600;
  line-height: 1em;
  color: Black;
}

h2 {
  font-family: 'Inter';
  font-size: 19pt;
  font-weight: 500;
  color: Black;
}

h3{
  font-family: 'DM Mono';
  font-size: 18pt;
  font-weight: 500;
  color: Black;
  letter-spacing: 3px;
}

h4 {
  font-family: 'Inter';
  font-size: 14pt;
  font-weight: 600;
  text-decoration: underline;
  color: Black;
}

h5{
  font-family: 'DM Mono';
  font-size: 18pt;
  font-weight: 500;
  color: Black;
  letter-spacing: 3px;
}

body{
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12pt;
  background-color: #f9f8f4;
  color: #71716c;
  margin: auto;
  max-width: 1325px
}

body .main-container {
  max-width: 1325px;
  width: 1325px;
}

span {
  font-family: 'Inter';
  font-size: 32pt;
  font-weight: 700;
  color: Black;
}

span b {
  font-family: 'Inter';
  font-size: 19pt;
  font-weight: 500;
}
