/* Whole document: */

/* Headers */

@import url('https://fonts.googleapis.com/css?family=Raleway');

@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }

@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

a {
  color: #49aeee;
}

.navbar-default {
    background-color: #f4f4f4;
}

h1 {
  font-family: 'Raleway';
  font-size: 6pt;
}

h2 {
  font-family: 'Raleway';
  font-size: 20pt;
}

h3 {
  font-family: 'Inter';
  font-size: 20pt;
  margin: 0px 0px 0px 0px; 
  padding: 0px 0px 0px 0px;
}

h4{
  font-family: 'Raleway';
  font-size: 16pt;
}

h5{
  font-family: 'Raleway';
  font-size: 20pt;
}

h6{
  font-family: 'Raleway';
  font-size: 32pt;
}

body{
  font-family: 'Inter';
  font-size: 10pt;
  background-color: #f4f4f4;
}




